.bg3 {
  background: rgb(24, 121, 9);
  background: linear-gradient(
    90deg,
    rgba(24, 220, 9, 0.7035189075630253) 0%,
    rgba(9, 121, 71, 0.7231267507002801) 48%,
    rgba(0, 4, 121, 0.7651435574229692) 100%
  );
}

.txt_1 {
  color: rgb(2, 0, 36);
  color: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 69, 0.7651435574229692) 63%,
    rgba(0, 223, 112, 1) 100%
  );
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
#app {
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .react-multi-carousel-item {
    width: 300px !important;
  }
}
/* @media screen and (min-width: 370px) {
  .react-multi-carousel-item {
    width: 200px !important;
  }
} */

.react-multi-carousel-list {
  position: static !important;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
