.ant-select-single {
  height: 25px !important;
}
/* .dropdown {
  position: relative;
  display: inline-block;
} */
.ant-dropdown-trigger {
  border: none !important;
}

.ant-dropdown-trigger:active {
  color: #fff !important;
  background: none !important;
  border: none !important;
}
.ant-dropdown-trigger:hover {
  color: #fff !important;
  border: none !important;
  background: none !important;
}
.ant-dropdown-trigger:focus-visible {
  outline: none !important;
}

.ant-dropdown-menu {
  background-color: rgba(0, 0, 0, 0.5) !important;
  width: 150px !important;
}
.ant-dropdown-menu-item {
  color: #fff !important;
}
.ant-dropdown-menu-item:hover {
  background-color: gray !important;
}

/* .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(82 82 82 / 0.6);
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0, 2);
  z-index: 1;
}

.dropdown-content .link {
  color: white;
  padding: 7px 9px;
  text-decoration: none;
  display: block;
} */

.dropdown-content .link:hover {
  background-color: rgb(82 82 82 / 0.6);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.bg1 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 69, 0.7651435574229692) 63%,
    rgba(0, 223, 112, 1) 100%
  );
}

.scroll-left {
  height: 20px;
  overflow: hidden;
  position: relative;
  background: white;
  font-weight: 600;
  color: red;
  border: 1px solid rgb(253, 253, 253);
}

.scroll-left p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 20px;
  text-align: center;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scroll-left 15s linear infinite;
  -webkit-animation: scroll-left 15s linear infinite;
  animation: scroll-left 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%);
  }
}
