@tailwind base;
@tailwind components;
@tailwind utilities;

.d_flex {
  display: flex;
}
.scroll-container {
  width: 300px; /* Sabit genişlik */
  height: 200px; /* Sabit yükseklik */
  overflow: auto; /* İçerik sığmadığında kaydırma çubuğunu göster */
  border: 1px solid #ccc; /* İsteğe bağlı: çerçeve ekleyebilirsiniz */
}

.scroll-content {
  padding: 10px;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: black !important;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd.skiptranslate {
  display: none !important;
}

.goog-te-combo {
  width: 80px;
}
